<a href="@Url.Action("ShopCart", "Home")" style="text-decoration: none; color: red; font-weight: bold">
    <i class="fa-solid fa-chevron-left" style="height:40px"> Cart</i>  (@ViewBag.TotalNumber)
</a>
