@model DuAnFptShop.Models.Storage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .form-horizontal {
        width: 100%;
        background-color: #ffffff;
    }

    .header {
        width: 100%;
    }

    .header-content {
        width: 100%;
        background-color: #E1EDDB;
        color: #91A990;
        height: 50px;
        padding: 0px 20px;
        font-weight: bold;
    }

        .header-content h4 {
            line-height: 50px;
        }

    .control-label {
        width: 100%;
        font-weight: bold;
        margin-bottom: 10px;
    }

    dt, dd {
        padding: 5px 20px;
    }

    dd {
        border-bottom: 1px solid #9B9D9E;
    }

    .btn-default {
        border: 1px solid #CFD5DB;
        border-radius: 5px;
    }

        .btn-default:hover {
            background-color: peachpuff;
        }

        .btn-default a {
            text-decoration: none;
            color: #212529;
        }
</style>

<div>
    <div class="header">
        <div class="container">
            <div class="header-content">
                <h4>Xem chi tiết</h4>
            </div>
        </div>
    </div>
    <dl class="dl-horizontal">
        <div class="container">
            <dt>
                Tên bộ nhớ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StorageName)
            </dd>
        </div>

    </dl>
</div>
<div class="detail-btn">
    <div class="container">
        <div class="detail-btn-content">
            <button class="btn btn-default"> @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.StorageID })</button>
            <button class="btn btn-default"> @Html.ActionLink("Danh sách", "Index")</button>
        </div>
    </div>
</div>